.footer {
    background-color: #262626;
    font-family:$font-header;
    padding: 1em 3em;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen 
and (max-width : 768px){
    .footer{
        flex-direction: column;
    }
}

.social-link{
    ul{
        li{
            list-style: none;
            display: inline-block;
            a{
                display: block;
                box-sizing: border-box;
                background-color: #4d4c4c;
                color: #262626;
                text-align: center;
                width: 2rem;
                height: 2rem;
                padding: .5rem;
                border-radius: 50%;
            }
        }
    }
}
