
//logo style
//we can use this style in other place in the page

.logo {
    text-transform: uppercase;
    display: block;
    color: aliceblue;
    font-size: 2em;
    font-family: $font-menu;
    text-decoration: none;
    &--gray{
        color: #4d4c4c;
    }
    &--position{
        margin: 1rem;
    }
}
span.fat{
        font-weight:600;
    }
span.thin{
        font-weight:100;
    }



//header style

.header { 
    height: 100vh;
    background-image: url('../images/header.png');
    background-size: cover;
    box-sizing: border-box;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px #333;
    text-align: center;
    overflow: hidden;
    transition: all 3s ease-in-out;
    position: relative;
}


//header heading style


.main__heading{
    width: 100%;
    text-align: center;
    font-family: $font-menu;
    color:#ffffff;
    font-weight: 900;
    padding: 1em 0 .1em 0;
    line-height: 150%;
    
}

//burger menu




    .menu {
        list-style: none;
        font-family: $font-menu;
        font-size: .75rem;
        margin:0;
        padding: 0;
        float: right;
        
        &__item {
            display: inline-block;

            & a {
                text-decoration: none;
                display: block;
                position: relative;
                line-height: 61px;
                padding:0 10px;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: bold;
                color: #fff;
                transition: .3s linear;
                text-transform: uppercase;
                border-bottom: 3px solid transparent;
                &:hover{
                    border-bottom: 3px solid #ffffff;
                }
            }
        }
    
}


.mainNav {
    position: relative;
    z-index: 12;
    @include flex();
    background: rgba(100, 100, 100, .4);


	a {
        text-decoration: none;
        display: block;        
	}

	

	.h-menu {
        display: none;
		list-style: none;
        padding: 20px;
		@include position(absolute, 60px, 0, null, 0);
        background: rgba(100, 100, 100, .9);
        .menu__item{
            display: block;
            margin: 0;
            a{
                margin: 0;
            }
            
        }


	}

	.navBars {
		display: block;
		font-size: 1.7em;
        line-height: 1.5em;
        
		/*USER SELECTION*/
		user-select: none;
		-webkit-user-select: none;
	}
}




@media screen and (min-width: 768px) {
	.mainNav {
        overflow: hidden;
        background: rgba(100, 100, 100, .1);
		.navBars {
			display: none;
		}

        .logo{
            padding: 40px 20px;
        }


		.h-menu {
            display: flex;
            flex-direction: row;
			box-shadow: none;
			@include position(static);
            background: none;
			.menu__item {
                display: inline-block;
			}

			a {
				padding: 20px 10px;
			}
		}
	}
}



//burger menu icon
#burger {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -99999px;

	&:checked ~ nav .h-menu {
		display: flex;
	}
}

.burger {
	$width: 28px;
	$thickness: 4px;
	color: #fff;
	border: 0;
	background: none;
	outline: 0;
    padding: 0;
    margin: 1.4rem;
	cursor: pointer;

	border-bottom: $thickness solid currentColor;
	width: $width;

	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out; 

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;    
		-webkit-transition: -webkit-transform 0.5s ease-in-out;        
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}

	&.open {
		border-bottom: $thickness solid transparent;
		transition: border-bottom 0.8s ease-in-out;
		-webkit-transition: border-bottom 0.8s ease-in-out;

		&:before {
			transform: rotate(-405deg) translateY(1px) translateX(-3px);
			-webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;
		}

		&:after {
			transform: rotate(405deg) translateY(-4px) translateX(-5px); 
			-webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;
		}
	}
}


