
.header-menu-area{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: content-box;
    height: 50px;

   
}

.logo {
    display: block;
    color: aliceblue;
    font-size: 2em;
    font-family: $font-menu;
    text-decoration: none;
    float: left;
}
span.fat{
        font-weight:600;
    }
span.thin{
        font-weight:100;
    }

.h-menu {
    padding: 20px;
    &::after{
        content: "";
        display: table;
        clear: both;
    }
    .menu {
        list-style: none;
        font-family: $font-menu;
        font-size: .75rem;
        margin:0;
        padding: 0;
        float: right;
        
        &__item {
            display: inline-block;

            & a {
                text-decoration: none;
                display: block;
                position: relative;
                line-height: 61px;
                padding:0 10px;
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: bold;
                color: #fff;
                transition: .3s linear;
                text-transform: uppercase;
                border-bottom: 3px solid transparent;
                &:hover{
                    border-bottom: 3px solid #ffffff;
                }
            }
        }
    }
}

@media(max-width: 660px){
    .menu{
        float: none;
        padding-top: 20px;

        }
        & a {
            padding: 0 10px;
            width: 100%;

        }
    
    .h-menu{
        text-align: center;
        padding: 20px 0 0 0;
    }
    .logo{
        float: none;
    }
}

@media (max-width: 600px){
    .menu{
        & li{
            display: block;
        }
    }
}

.header { 
    height: 100vh;
    background-image: url('../images/header.png');
    background-size: cover;
    box-sizing: border-box;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px #333;
    text-align: center;
    overflow: hidden;
    transition: all 3s ease-in-out;
    position: relative;
}





.main__heading{
    width:100%;
    text-align:center;
    font-family:$font-menu;
    color:#ffffff;
    font-weight: 900;
    padding: 1em 0 .1em 0;
    line-height: 150%;
    
}

