
// For creating specific values between two breakpoints using calc and viewpoint units
@function between($to, $from, $to-width, $from-width) {
    $slope: ($to - $from) / ($to-width - $from-width);
    $base: $from - $slope * $from-width;
  
    @return calc(#{$base} + #{100vw * $slope});
  }
  
  // For applying specific CSS styles that scale between viewpoints
  @mixin between($property, $to, $from, $to-width: 30rem, $from-width: 64rem) {
    #{$property}: $to;
  
    @media (min-width: $to-width) {
      #{$property}: between($to, $from, $to-width, $from-width);
    }
  
    @media (min-width: $from-width) {
      #{$property}: $from;
    }
  }
  
  // Specific mixin for responsive font sizes with "between" mixin
  @mixin between-font-sizes($base-font-size) {
  
    $small-font-size: $base-font-size * 0.9;
    $large-font-size: $base-font-size * 1.15;
  
    margin-bottom: 0;
    @include between('margin-top', ($small-font-size * 0.75), $small-font-size);
  
    @include between('font-size', $small-font-size, $large-font-size);
    line-height: 1.2;
  }
  
  $responsive-font-sizes: (
      h1: 3.82rem,
      h2: 3.05rem,
      h3: 2.44rem,
      h4: 1.95rem,
      h5: 1.56rem,
      h6: 1.25rem,
      p: 1rem
  );
  
  @each $element, $font-size in $responsive-font-sizes {
      
      #{$element} { @include between-font-sizes($font-size); }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 900;
    text-transform:uppercase;
    text-align:center;
}

h1 {
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    line-height: 1.25;
    letter-spacing: -1px;
}

h3 {
    line-height: 1.3;
    letter-spacing: 0;
}

h4 {
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    line-height: 1.6;
    letter-spacing: 0;
}

p {
    margin-top: 0;
}