.section {
    height: 100vh;
    width: 100%;
    background-color: $color-primary-2;
}


.flex-container{
    display:flex;
    flex-direction:row;
    margin:0 auto;
    width:1200px;
    height:auto;

}
.flex-block{
    width:33%;
    box-sizing:border-box;
    border:1px solid #413434;
}


h2.heading {
    width: 100%;
    text-align: center;
    font-family: $font-header;
    font-size: 4rem;
    color: #cca9a9;
    padding: 4rem 0;
    text-transform: uppercase;
}

h3.sub-heading {
    width: 100%;
    text-align: center;
    font-family: $font-header;
    font-size: .8rem;
    color: #cca9a9;
}