.section {
    width: 100%;
}
.padding-bott{
    padding-bottom:10rem;
}

h2.heading {
    width: 100%;
    font-family: $font-header;
    font-weight:900;
    color: #171616;
    padding: 8rem 0 .2rem 0;
    text-transform: uppercase;
    margin-bottom:0;
}

.sub-heading {
    width: 100%;
    text-align: center;
    font-family: $font-header;
    font-size: .8rem;
    color: #171616;
    margin-bottom: 10rem;
    line-height:1.8;
}

p.slogan-text{
    color:#515151;
    text-align:center;
    padding:0 .6rem 1rem 1rem; 
    line-height: 1.6;
}

.left-align{
    text-align:left;
}

.bg-grey {
    background-color: #f3f3f3;
}

.notebook-bg{
    background-image: none;

}

@media (min-width: 480px){
    .notebook-bg{
        background-image: url('../images/notebook.png');
        background-repeat: no-repeat;
        background-position: 100% 0%;
        background-size: auto 100%;
    
    }
}

.low-hight{
    margin:0;
    padding:0 0 2rem 0;
}

.flex-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & h4 {
        margin: 4rem 0 0 0;
        padding: .2rem 2.4rem;
        font-weight: 400;
        font-size:1rem;

        &.active {
            background-color: #e85408;
            border-radius:25px;
            color:#fff;
        }
    }
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px;
    .flex-item{
        width: 250px;
        height: 250px;
        background-color: #c1c1c1;
        margin: 25px;
    }
}

.avatar{
    background-color: #404040;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto 40px auto;
}