section.contact
    h2 say hello
    p.caption Lorem ipsum dolor
    form(action="", method="post")
        input#name(type="text", name="name" placeholder="Name")
        input#email(type="email", name="email" placeholder="Email")
        textarea#comment(name="comment", placeholder="Enter your message here...")
        button(type="submit").btn send message