.footer
    div
        a.logo.logo--gray(href='#')
            span.fat your
            span.thin logo
    .social-link
        ul
            li
                a(href="#")
                    i.fa.fa-facebook(aria-hidden="true")
            li
                a(href="#")
                    i.fa.fa-twitter(aria-hidden="true")
            li
                a(href="#")
                    i.fa.fa-google-plus(aria-hidden="true")
            li
                a(href="#")
                    i.fa.fa-instagram(aria-hidden="true")