.header
    nav.h-menu
        a.logo(href='#')
            span.fat your
            span.thin logo
        ul.menu
            li.menu__item
                a(href='#') home
            li.menu__item
                a(href='#service') service
            li.menu__item
                a(href='#work') works
            li.menu__item
                a(href='#team') team
            li.menu__item
                a(href='#contact') contact
    
        
    h1.main__heading We are digital agency 
    button.btn
        span see portfolio