.header   
    .logo-box
        .logo
            img(src="images/logo.png" alt="logo").logo__img
    .h-menu
        ul.menu
            li.menu__item
                a(href='#') main
            li.menu__item
                a(href='#') about me
            li.menu__item
                a(href='#') my dreams
            li.menu__item
                a(href='#') my jobs
            li.menu__item
                a(href='#') how me find

    h1.main__heading речі які потрібно знати обовязково всім!!! 
    button.btn
        span Дізнатися більше