.section
	h2.heading.scrollflow.-slide-top.-opacity Інший текст про щось!!!!
	h3.sub-heading Переваги від мене?
	.flex-container
		.flex-block
			h4.heading Ціна
			i.fa.fa-money(aria-hidden='true') 
		.flex-block
		.flex-block