section.section-3
    .avatar--sm
    .respond
        .respond__body
            p “Sed consectetur lorem vitae euismod placerat. Sed tincidunt orci aenim convallis, a convallis turpis porttitor.”
        .respond__client
            span.respond__client--name Jhon Doe
            span.respond__client--company Company Name

        
