.section#work
    .flex-heading
        h4.active branding
        h4 web design
        h4 print design
    .flex-container
        .flex-item
            figure
               img(src="images/header.png", alt="work first")
               figcaption
                  div
                    a(href='#')    
                        i.fa.fa-search(aria-hidden='true')
                    a(href='#')
                        i.fa.fa-link(aria-hidden='true')
        .flex-item
            figure
               img(src="images/header.png", alt="work first")
               figcaption
                  div
                    a(href='#')    
                        i.fa.fa-search(aria-hidden='true')
                    a(href='#')
                        i.fa.fa-link(aria-hidden='true')
        .flex-item
            figure
               img(src="images/header.png", alt="work first")
               figcaption
                  div
                    a(href='#')    
                        i.fa.fa-search(aria-hidden='true')
                    a(href='#')
                        i.fa.fa-link(aria-hidden='true')
        .flex-item
            figure
               img(src="images/header.png", alt="work first")
               figcaption
                  div
                    a(href='#')    
                        i.fa.fa-search(aria-hidden='true')
                    a(href='#')
                        i.fa.fa-link(aria-hidden='true')
        .flex-item
            figure
               img(src="images/header.png", alt="work first")
               figcaption
                  div
                    a(href='images/header.png' data-fancybox="images" data-caption="Caption")    
                        i.fa.fa-search(aria-hidden='true')
                    a(href='#')
                        i.fa.fa-link(aria-hidden='true')
        .flex-item
            figure
               img(src="images/header.png", alt="work first")
               figcaption
                  div
                    a(href='#')    
                        i.fa.fa-search(aria-hidden='true')
                    a(href='#')
                        i.fa.fa-link(aria-hidden='true')
        .flex-item
            figure
               img(src="images/header.png", alt="work first")
               figcaption
                  div
                    a(href='#')    
                        i.fa.fa-search(aria-hidden='true')
                    a(href='#')
                        i.fa.fa-link(aria-hidden='true')
        .flex-item
            figure
               img(src="images/header.png", alt="work first")
               figcaption
                  div fddfdsf

    
        