.section.padding-bott
    h2.heading our servise
    p.sub-heading lorem ipsum dolor dfderpw,cm dede
    .container
        .row
            .col-md-3.col-xs-12.col-lg-3
                h3 development
                p.slogan-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel elementum augue. In hac habitasse platea dictumst. Sed ullamcorper ante quam, eu fringilla est elementum sit amet. Vestibulum non ligula neque.
            .col-md-3.col-xs-12.col-lg-3
                h3 design
                p.slogan-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel elementum augue. In hac habitasse platea dictumst. Sed ullamcorper ante quam, eu fringilla est elementum sit amet. Vestibulum non ligula neque.
            .col-md-3.col-xs-12.col-lg-3
                h3 seo & analitics
                p.slogan-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel elementum augue. In hac habitasse platea dictumst. Sed ullamcorper ante quam, eu fringilla est elementum sit amet. Vestibulum non ligula neque.
            .col-md-3.col-xs-12.col-lg-3
                h3 marketing
                p.slogan-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel elementum augue. In hac habitasse platea dictumst. Sed ullamcorper ante quam, eu fringilla est elementum sit amet. Vestibulum non ligula neque.