.section#work
    .flex-heading
        h4.active branding
        h4 web design
        h4 print design
    .flex-container
        .flex-item
        .flex-item
        .flex-item
        .flex-item
        .flex-item
        .flex-item
        .flex-item
        .flex-item

    
        